.Button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34e065;
  border-radius: 10px;
}
.dwdwd{
  animation-duration: 1s;
  transform: translateY(0%);
  color: white;
  background-color: #00cb39;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  padding: 10%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  left: -20%;
  position: absolute;
  display: none;
  z-index: 5;
  width: 150px;
}
.dwdwd:nth-child(1){
  animation-name: dropdown;
}
.dwdwd:nth-child(3){
  animation-name: dropdown1;
}
.dwdwd a{
  width: 150px;
  padding: 2%;
}
@keyframes dropdown {
  1% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes dropdown1 {
  1% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}
.Button ul li:hover .dwdwd{
  display: block;
}
.Button ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Button ul li{
  cursor: pointer;
  padding: 1% 1.5%;
}
.Button ul, a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.dropdown{
  display: flex;
  position: relative;
}
.dwdwd a{
  color: green;
  transition: .7s;
}
.Qasdad{
  width: 100%;
  padding-top: 37%;
  z-index: 16;
  position: absolute;
}
.dwdwd a:hover{
  color: white;
}
.dwdwBoxinOpen{
  width: 100%;
  padding-top: 52%;
  z-index: 16;
  position: absolute;
}